
.form-container{
    
    /* background-color: lightgreen; */
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.form-parent{
    padding: 3rem 0;
    width: 20rem;
    background-color: #34c3eb;
    border-radius: 1.5rem;
    
}

.form-title{
    padding: 0 1rem;
}

.inp-div{
    padding: .1rem 1rem;
    display: flex;
    flex-direction: column;
}

.inp{
    text-indent: .2rem;
    height: 1.5rem;
    border-radius: .3rem;
}

.form-btn{
    margin-left: 1rem;
    margin-top: .3rem;
    padding: .3rem;
    border-radius: .3rem;
}


.visible{
    background-color: lightgreen;
    padding: .3rem;
    width: max-content;
    border-radius: .3rem;
}